@mixin btn {
    border: 2.21px solid var(--text-color);
    border-radius: 13px;

    color: #1a202c;
    font-family: Manrope;
    font-size: 15.472px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; /* 23.208px */
    letter-spacing: 0.221px;
    
}
