:root {
    --container-width: 1440px;
    --container-padding: 98px;

    --font-main: 'Poppins', sans-serif;
    --font-numbers: 'Public Sans', sans-serif;

    --page-bg: #f9f9f9;
    --page-bg1: #F1F1F1;

    --dark-bg: #141416;
    --accent: #929292;

    --text-color: #141416;
    --text-color-muted: #848586;
    --text-title-muted: #c5c5c5;
    --text-placeholder: ##9596a6;

    --laptop-size: 1199px;
    --tablet-size: 959px;
    --mobile-size: 599px;
}
