.discover {
    padding: 55px 0px 280px;
    &--none {
        display: none !important;
    }
}
.discover__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discover__title {
    color: var(--text-color);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.6667; /* 66.676% */
    margin-bottom: 44.69px;
}
.discover__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}
.discover__category {
    position: relative;
    @include btn-discover;
    padding-left: 53.36px;

    &::before {
        content: '';

        position: absolute;
        left: 17.21px;
        top: 50%;
        transform: translateY(-50%);
        width: 26.754px;
        height: 26.754px;

        background-image: url('./../img/discover/category.svg');
        background-repeat: no-repeat;
    }
}
.discover__collection {
    position: relative;
    @include btn-discover;
    padding-left: 53.36px;

    &::before {
        content: '';

        position: absolute;
        left: 17.21px;
        top: 50%;
        transform: translateY(-50%);
        width: 26.754px;
        height: 26.754px;

        background-image: url('./../img/discover/collection.svg');
        background-repeat: no-repeat;
    }
}
.discover__price {
    position: relative;
    @include btn-discover;
    padding-left: 53.36px;

    &::before {
        content: '';

        position: absolute;
        left: 17.21px;
        top: 50%;
        transform: translateY(-50%);
        width: 26.754px;
        height: 26.754px;

        background-image: url('./../img/discover/dollar.svg');
        background-repeat: no-repeat;
    }
}
.discover__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 68px 40px;
    margin-bottom: 176px;
}
//card
.discover__card {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    border-radius: 23.55px;
    background-color: #fff;
    box-shadow: 39px 12px 59px 0px rgba(199, 199, 199, 0.6);
    padding: 14.16px;
}
.discover__picture {
    position: relative;
    margin-bottom: 18.88px;
}
.discover__time {
    position: absolute;
    z-index: 1;
    top: 14.16px;
    right: 9.31px;
    padding: 9.44px 14.16px;

    border-radius: 9.44px;
    border: 1.18px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.72005px 14.16015px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.36px);

    color: #fff;
    font-size: 14.16px;
    line-height: 1.5; /* 21.24px */
    letter-spacing: 0.118px;
}
.discover__img {
    position: relative;
    border-radius: 23.5px;
    // width: 254px;
}
.discover__title-2 {
    color: var(--text-color);
    font-size: 21.24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4; /* 29.736px */
    margin-bottom: 14.16px;
}
.discover__bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discover__left {
    display: flex;
    flex-direction: column;
    column-gap: 4.72px;
    p {
        color: #94a3b8;
        font-size: 14.16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 21.24px */
        letter-spacing: 0.118px;
    }
}
.discover__count {
    position: relative;
    color: var(--text-color);
    font-size: 16.52px;
    line-height: 1.5; /* 24.78px */
    padding-left: 23.6px;

    &::before {
        content: '';

        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 21.24px;
        height: 21.24px;

        background-image: url('./../img/discover/ethereum.svg');
        background-repeat: no-repeat;
    }
}
.discover__righte {
    padding: 9.44px 18.88px;
    border-radius: 11.8px;
    background: var(--text-color);

    a {
        color: #fff;
        font-size: 14.16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5; /* 21.24px */
        letter-spacing: 0.118px;
    }
}
.discover__loading {
    img {
        width: 50px;
        height: 50px;
    }
}
