.weekly {
    padding: 70px 0 90px;
}

.weekly__title {
    text-align: center;
    margin-bottom: 61px;
    color: var(--text-title-muted);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.6; /* 59.812% */
}

.weekly__slider {
    margin-bottom: 56px;
}

.weekly__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
