.weekly {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 70px 0 90px;
}

.weekly__title {
    text-align: center;
    margin-bottom: 100px;
    color: var(--text-title-muted);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.6; /* 59.812% */
}

.weekly__slider {
    // display: flex;
    // flex-shrink: 0;
    // justify-content: center;
    // align-items: center;
    // column-gap: 10px;
    margin-bottom: 115px;
}

.weekly__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
